Repository eddiguesti/auto: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

Add MemoryQuestApp mobile app to monorepo
  .gitignore
  apps/mobile/.gitignore
  apps/mobile/.gitkeep
  apps/mobile/.npmrc
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/assets/adaptive-icon.png
  apps/mobile/assets/favicon.png
  apps/mobile/assets/icon.png
  apps/mobile/assets/splash-icon.png
  apps/mobile/index.ts
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/src/components/AnimatedButton.tsx
  apps/mobile/src/components/ConfettiExplosion.tsx
  apps/mobile/src/components/GlowingVoiceButton.tsx
  apps/mobile/src/components/Icons.tsx
  apps/mobile/src/components/SkeletonLoader.tsx
  apps/mobile/src/components/StreakBadge.tsx
  apps/mobile/src/components/index.ts
  apps/mobile/src/context/AuthContext.tsx
  apps/mobile/src/context/GameContext.tsx
  apps/mobile/src/hooks/useVoiceRecorder.ts
  apps/mobile/src/navigation/AppNavigator.tsx
  apps/mobile/src/screens/CelebrationScreen.tsx
  apps/mobile/src/screens/CollectionsScreen.tsx
  apps/mobile/src/screens/HistoryScreen.tsx
  apps/mobile/src/screens/HomeScreen.tsx
  apps/mobile/src/screens/LoginScreen.tsx
  apps/mobile/src/screens/ProfileScreen.tsx
  apps/mobile/src/screens/ReviewScreen.tsx
  apps/mobile/src/screens/TextInputScreen.tsx
  apps/mobile/src/screens/VoicePromptScreen.tsx
  apps/mobile/src/services/api.ts
  apps/mobile/src/utils/animations.ts
  apps/mobile/src/utils/haptics.ts
  apps/mobile/src/utils/theme.ts
  apps/mobile/tsconfig.json
Due: prettier --write

Exclude mobile app from npm workspaces
  package.json
Due: prettier --write

Regenerate package-lock.json for updated workspaces
  package-lock.json
Due: prettier --write

Fix build script to run validate from root
  package.json
Due: prettier --write

Make APP_URL HTTPS check a warning, not fatal
  services/api/index.js
Due: eslint --fix, prettier --write

Fix database SSL for Railway internal connections
  services/api/db/index.js
Due: eslint --fix, prettier --write

Improve performance: add caching and DB indexes
  services/api/db/index.js
  services/api/index.js
Due: eslint --fix, prettier --write

Fix Google OAuth button not showing
  apps/web/package.json
  services/api/index.js
Due: eslint --fix, prettier --write

Performance: remove unused dep + batch DB queries
  services/api/utils/gameStateManager.js
Due: eslint --fix, prettier --write

perf: Add gzip compression and fix deployment issues
  apps/web/index.html
  apps/web/package-lock.json
  apps/web/vite.config.js
  package-lock.json
  package.json
  services/api/index.js
Due: eslint --fix, prettier --write

fix: Remove font preload causing 404
  apps/web/index.html
Due: none

debug: Add detailed logging to Google auth route
  services/api/routes/auth.js
Due: eslint --fix, prettier --write

fix: Handle empty JWT_EXPIRES_IN env var
  services/api/middleware/auth.js
Due: eslint --fix, prettier --write

fix: Make Settings button more visible and clickable
  apps/web/src/pages/Home.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Fix JWT_EXPIRES_IN parsing to strip quotes and whitespace
  services/api/middleware/auth.js
Due: eslint --fix, prettier --write

Make JWT_EXPIRES_IN parsing more robust with validation
  services/api/middleware/auth.js
Due: eslint --fix, prettier --write

Fix login redirect - always navigate after successful auth
  apps/web/src/pages/Login.jsx
  apps/web/src/pages/Register.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Always show onboarding if status check fails
  apps/web/src/pages/Login.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Fix onboarding defaults: Register=true, Login=false
  apps/web/src/pages/Login.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Add comprehensive Settings page with profile, logout, and account management
  apps/web/src/components/BookPreview.jsx
  apps/web/src/components/CoverEditor.jsx
  apps/web/src/pages/Home.jsx
  apps/web/src/pages/Settings.jsx
  services/api/db/index.js
  services/api/index.js
  services/api/routes/covers.js
  services/api/routes/user.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

Fix missing query export from db/index.js
  services/api/db/index.js
Due: eslint --fix, prettier --write

Fix chapter image URL extraction from Replicate response
  services/api/routes/chapter-images.js
  services/api/routes/onboarding.js
  services/api/routes/stories.js
Due: eslint --fix, prettier --write

Remove data export feature from Settings
  apps/web/src/pages/Settings.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Add Chapter 1 Free pricing, heritage landing design, and editability improvements
  apps/web/src/App.jsx
  apps/web/src/components/AIAssistant.jsx
  apps/web/src/components/QuestionCard.jsx
  apps/web/src/pages/Home.jsx
  apps/web/src/pages/Landing.jsx
  apps/web/src/pages/LandingDesign1.jsx
  apps/web/src/pages/Settings.jsx
  apps/web/tailwind.config.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

Fix lint errors and apply formatting
  apps/web/src/components/AudioVisualizer/AudioVisualizer.jsx
  apps/web/src/components/AudioVisualizer/config.js
  apps/web/src/components/OnboardingModal.jsx
  apps/web/src/components/TourOverlay.jsx
  apps/web/src/components/onboarding/OnboardingVoiceInterview.jsx
  apps/web/src/components/onboarding/PreferenceSelector.jsx
  apps/web/src/pages/FacebookLanding.jsx
  apps/web/src/pages/Landing.jsx
  apps/web/src/pages/LandingDesign1.jsx
  apps/web/src/pages/Settings.jsx
  apps/web/src/pages/VoiceChat.jsx
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

Fix Render build command to include frontend build and set heritage design as main landing
  apps/web/src/App.jsx
  render.yaml
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Fix 43 audit issues: security, performance, and stability improvements
  apps/web/src/App.jsx
  apps/web/src/components/AIAssistant.jsx
  apps/web/src/components/ExportModal.jsx
  apps/web/src/components/HelpChatbot.jsx
  apps/web/src/components/OnboardingModal.jsx
  apps/web/src/components/QuestionCard.jsx
  apps/web/src/context/AuthContext.jsx
  apps/web/src/hooks/useApi.js
  apps/web/src/pages/Chapter.jsx
  apps/web/src/pages/Home.jsx
  apps/web/src/pages/VoiceChat.jsx
  services/api/db/index.js
  services/api/index.js
  services/api/routes/ai.js
  services/api/routes/auth.js
  services/api/routes/onboarding.js
  services/api/routes/payments.js
  services/api/routes/photos.js
  services/api/routes/stories.js
  services/api/routes/telegram.js
  services/api/routes/user.js
  services/api/routes/voice.js
  services/api/utils/cache.js
  services/api/utils/security.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

Fix extractEntitiesAsync import error in voice.js
  services/api/routes/voice.js
Due: eslint --fix, prettier --write

Switch to British-accent voices and increase silence durations
  apps/web/src/context/SettingsContext.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Fix 4 bugs: SQL NULL accumulation, session auth, stale closure, settings validation
  apps/web/src/pages/VoiceChat.jsx
  services/api/routes/stories.js
  services/api/routes/voice.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

Fix chapter image generation: missing question count, URL quotes, race condition
  apps/web/src/pages/Chapter.jsx
  services/api/routes/chapter-images.js
  services/api/routes/onboarding.js
  services/api/routes/stories.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

Add channel selection onboarding step + email verification + API proxy
  apps/web/package.json
  apps/web/public/_redirects
  apps/web/src/App.jsx
  apps/web/src/components/EmailVerificationBanner.jsx
  apps/web/src/components/OnboardingModal.jsx
  apps/web/src/components/onboarding/ChannelSelector.jsx
  apps/web/src/pages/app/Home.jsx
  apps/web/src/pages/app/Settings.jsx
  apps/web/src/pages/auth/VerifyEmail.jsx
  package-lock.json
  services/api/db/index.js
  services/api/index.js
  services/api/routes/auth.js
  services/api/routes/onboarding.js
  services/api/services/emailService.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

Require Node 20+ for Railway deploy (aws-sdk compatibility)
  apps/web/src/context/AuthContext.jsx
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Add nixpacks.toml to force Node 20 on Railway
  nixpacks.toml
Due: none

Inline channel selection into voice interview + fix animation bug
  apps/web/src/components/OnboardingModal.jsx
  apps/web/src/components/onboarding/ChannelSelector.jsx
  apps/web/src/components/onboarding/OnboardingVoiceInterview.jsx
  apps/web/src/pages/app/Home.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Fix onboarding: remove tour question before channel selection, refine animations
  apps/web/src/components/OnboardingModal.jsx
  apps/web/src/components/onboarding/ChannelSelector.jsx
  apps/web/src/components/onboarding/OnboardingVoiceInterview.jsx
  nixpacks.toml
  services/api/routes/onboarding.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

Add tour offer as final onboarding step after channel selection
  apps/web/src/components/OnboardingModal.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Polish onboarding with Apple-quality step transitions
  apps/web/src/components/OnboardingModal.jsx
  apps/web/src/components/onboarding/PreferenceSelector.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Path conditions:
  eslint --fix: (((any of: services/api/**/*.js) or (any of: packages/shared/**/*.js)) or (any of: tools/**/*.js)) or (any of: *.js)
  prettier --write: (((((any of: services/api/**/*.js) or (any of: packages/shared/**/*.js)) or (any of: tools/**/*.js)) or (any of: *.js)) or (any of: apps/web/src/**/*.{js,jsx})) or (any of: *.{json,md,css})
  eslint --fix --config apps/web/eslint.config.js: any of: apps/web/src/**/*.{js,jsx}
