Repository eddiguesti/auto: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

.lintstagedrc:

{
  "services/api/**/*.js": ["eslint --fix", "prettier --write"],
  "packages/shared/**/*.js": ["eslint --fix", "prettier --write"],
  "tools/**/*.js": ["eslint --fix", "prettier --write"],
  "*.js": ["eslint --fix", "prettier --write"],
  "apps/web/src/**/*.{js,jsx}": ["eslint --fix --config apps/web/eslint.config.js", "prettier --write"],
  "*.{json,md,css}": ["prettier --write"]
}

Fix onboarding order: info → channels → tour (never skip channels)
  apps/web/src/components/OnboardingModal.jsx
  apps/web/src/components/onboarding/OnboardingVoiceInterview.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Separate voice interview from channel selection into distinct steps
  apps/web/src/components/onboarding/OnboardingVoiceInterview.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Lower voice interview temperature to 0.5 for stricter script following
  apps/web/src/components/onboarding/OnboardingVoiceInterview.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Fix processing spinner hanging forever on onboarding
  apps/web/src/components/OnboardingModal.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Fix index.html being cached with 1-year max-age
  services/api/index.js
Due: eslint --fix, prettier --write

Add style-src-elem CSP directive for font stylesheets
  services/api/index.js
Due: eslint --fix, prettier --write

Skip processing spinner for voice path — go straight to channels
  apps/web/src/components/OnboardingModal.jsx
  apps/web/src/components/onboarding/OnboardingVoiceInterview.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Redesign channel selection with premium Apple-style cards and Clio voice intro
  apps/web/src/components/onboarding/ChannelSelector.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Add welcome offer step with £99 onboarding discount, refine animations
  apps/web/src/components/OnboardingModal.jsx
  apps/web/src/components/onboarding/ChannelSelector.jsx
  apps/web/src/components/onboarding/OnboardingOffer.jsx
  services/api/routes/payments.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

Add full feature list to welcome offer (audiobook, voice calls, book, etc.)
  apps/web/src/components/onboarding/OnboardingOffer.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Add urgency messaging — welcome price only available during signup
  apps/web/src/components/onboarding/OnboardingOffer.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Rewrite offer copy — social proof, legacy messaging, clean Apple design
  apps/web/src/components/onboarding/OnboardingOffer.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Remove AI references from offer feature list
  apps/web/src/components/onboarding/OnboardingOffer.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Improve social proof with £10k comparison, add writing style feature
  apps/web/src/components/onboarding/OnboardingOffer.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Polish OnboardingOffer with refined visual hierarchy and premium feel
  apps/web/src/components/onboarding/OnboardingOffer.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Reorder features — hardcover book and 12-month access lead the list
  apps/web/src/components/onboarding/OnboardingOffer.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Security hardening and infrastructure improvements
  apps/mobile/app.json
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/src/context/AuthContext.tsx
  apps/mobile/src/services/api.ts
  apps/web/src/context/AuthContext.jsx
  services/api/db/index.js
  services/api/index.js
  services/api/middleware/aiQuota.js
  services/api/routes/ai.js
  services/api/routes/auth.js
  services/api/routes/payments.js
  services/api/routes/photos.js
  services/api/routes/support.js
  services/api/routes/voice.js
  services/api/services/grokService.js
  services/api/utils/security.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

Redesign OnboardingOffer with psychology-driven layout
  apps/web/src/components/onboarding/OnboardingOffer.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

Expand memoir to 18 chapters (6x3 grid) with research-backed topics
  apps/mobile/src/data/chapters.ts
  apps/web/src/data/chapters.js
  packages/shared/chapters.js
  services/api/routes/chapter-images.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

Add 6 optional bonus chapters for UK memoir market flexibility
  apps/mobile/src/data/chapters.ts
  apps/web/src/data/chapters.js
  packages/shared/chapters.js
  services/api/routes/chapter-images.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

Add Call Me, Quick Story features, update sitemap with images, simplify covers
  apps/mobile/src/components/Icons.tsx
  apps/mobile/src/components/index.ts
  apps/mobile/src/navigation/AppNavigator.tsx
  apps/mobile/src/screens/CallMeScreen.tsx
  apps/mobile/src/screens/HomeScreen.tsx
  apps/mobile/src/screens/QuickStoryScreen.tsx
  apps/mobile/src/services/api.ts
  apps/web/public/sitemap.xml
  apps/web/scripts/prerender.js
  apps/web/src/App.jsx
  apps/web/src/components/BookOrderWizard.jsx
  apps/web/src/components/BookPreview.jsx
  apps/web/src/components/CoverEditor.jsx
  apps/web/src/components/UpgradeModal.jsx
  apps/web/src/components/onboarding/OnboardingOffer.jsx
  apps/web/src/data/coverTemplates.js
  apps/web/src/pages/app/CallMe.jsx
  apps/web/src/pages/app/Chapter.jsx
  apps/web/src/pages/app/Export.jsx
  apps/web/src/pages/app/Home.jsx
  apps/web/src/pages/app/QuickStory.jsx
  apps/web/src/pages/marketing/FAQ.jsx
  apps/web/src/pages/marketing/Gift.jsx
  apps/web/src/pages/marketing/Landing.jsx
  apps/web/src/pages/marketing/LandingDesign1.jsx
  apps/web/src/pages/marketing/Pricing.jsx
  services/api/db/index.js
  services/api/index.js
  services/api/routes/covers.js
  services/api/routes/freeStories.js
  services/api/routes/payments.js
  services/api/routes/support.js
  services/api/routes/telnyxCall.js
  services/api/routes/user.js
  services/api/utils/notifications.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

fix: require Node >=20.19.0 to support @asamuzakjp/css-color@5.1.1
  .nvmrc
  package.json
Due: prettier --write

fix: upgrade to Node 22 in nixpacks to satisfy css-color engine requirement
  nixpacks.toml
Due: none

fix: switch to Node 24 — Node 22.11.0 too old for css-color@5.1.1
  .nvmrc
  nixpacks.toml
  package.json
Due: prettier --write

fix: disable engine-strict in .npmrc to unblock Railway build
  .npmrc
  .nvmrc
  nixpacks.toml
  package.json
Due: prettier --write

fix: regenerate package-lock.json to sync with package.json
  package-lock.json
Due: prettier --write

fix: use npm install instead of npm ci to avoid lockfile sync errors
  nixpacks.toml
Due: none

fix: regenerate lockfile with correct esbuild@0.27.7 and missing packages
  package-lock.json
Due: prettier --write

fix: import requireAdmin from middleware not routes/admin
  services/api/utils/swagger.js
Due: eslint --fix, prettier --write

fix: clean install on Linux to get platform-specific rollup binary
  nixpacks.toml
Due: none

fix: explicit install phase with npm install to avoid Railway generating npm ci
  nixpacks.toml
Due: none

fix: set NODE_VERSION=22.15.1 via nixpacks variables, remove manual nixPkgs override
  nixpacks.toml
Due: none

fix: clean install on Railway to resolve Linux rollup binary, remove redundant inner npm install
  nixpacks.toml
  package.json
Due: prettier --write

fix: clean node_modules before install in Railway buildCommand to get Linux rollup binary
  railway.json
Due: prettier --write

fix: use HUSKY=0 instead of --ignore-scripts so rollup/esbuild postinstall runs
  railway.json
Due: prettier --write

fix: split install/build phases — clean install in nixpacks, build only in railway.json
  nixpacks.toml
  railway.json
Due: prettier --write

fix: add missing Suspense import in Home.jsx, fix CSP for Google fonts and styleSrcElem
  apps/web/src/pages/app/Home.jsx
  services/api/middleware/setup.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

fix: bump SW cache to v2, skip cross-origin requests to unblock font CDNs
  apps/web/public/sw.js
Due: eslint --fix, prettier --write
