Repository eddiguesti/auto: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

.lintstagedrc:

{
  "services/api/**/*.js": ["eslint --fix", "prettier --write"],
  "packages/shared/**/*.js": ["eslint --fix", "prettier --write"],
  "tools/**/*.js": ["eslint --fix", "prettier --write"],
  "*.js": ["eslint --fix", "prettier --write"],
  "apps/web/src/**/*.{js,jsx}": ["eslint --fix --config apps/web/eslint.config.js", "prettier --write"],
  "*.{json,md,css}": ["prettier --write"]
}

fix: add wss://api.x.ai to CSP connect-src, log token presence for debugging
  services/api/middleware/setup.js
  services/api/routes/onboarding.js
Due: eslint --fix, prettier --write

debug: log xAI response structure to diagnose missing client_secret
  services/api/routes/onboarding.js
Due: eslint --fix, prettier --write

fix: apply globalLimiter only to /api routes + add xAI debug logging
  services/api/middleware/setup.js
  services/api/routes/voice.js
Due: eslint --fix, prettier --write

fix: use ?api_key= URL param for xAI WebSocket auth
  apps/web/src/components/TourOverlay.jsx
  apps/web/src/components/onboarding/OnboardingVoiceInterview.jsx
  apps/web/src/hooks/useVoiceSession.js
  apps/web/src/pages/app/Talk.jsx
  apps/web/src/pages/marketing/FacebookLanding.jsx
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

feat: server-side WebSocket proxy for xAI voice
  apps/web/src/components/TourOverlay.jsx
  apps/web/src/components/onboarding/OnboardingVoiceInterview.jsx
  apps/web/src/hooks/useVoiceSession.js
  apps/web/src/pages/app/Talk.jsx
  services/api/routes/voice.js
  services/api/utils/serverSetup.js
  services/api/utils/voiceProxy.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

fix: proxy message queue, telnyxCallBridge auth, landing page voice
  apps/web/src/components/TourOverlay.jsx
  apps/web/src/pages/marketing/FacebookLanding.jsx
  services/api/routes/landingVoice.js
  services/api/services/telnyxCallBridge.js
  services/api/utils/voiceProxy.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

fix: reduce voice turn detection silence from 18s to 2.5s
  apps/web/src/context/SettingsContext.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

fix: reset loading state when checkout fails
  apps/web/src/components/onboarding/OnboardingOffer.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

fix: PWA manifest missing icons, remove dead xAI code, cleanup
  apps/web/public/icon-192.svg
  apps/web/public/icon-512.svg
  apps/web/public/site.webmanifest
  apps/web/src/data/voiceConfig.js
  services/api/routes/onboarding.js
  services/api/routes/voice.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

fix: VoiceChat falls back to free chapter instead of redirecting home
  apps/web/src/pages/app/VoiceChat.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

fix: CallMe shows friendly message when Telnyx not configured
  apps/web/src/pages/app/CallMe.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

feat: photo prompt — upload photo, AI analyzes it, voice interview about it
  apps/web/src/hooks/useVoiceSession.js
  apps/web/src/pages/app/Home.jsx
  apps/web/src/pages/app/PhotoPrompt.jsx
  apps/web/src/pages/app/VoiceChat.jsx
  apps/web/src/routes/appRoutes.jsx
  apps/web/src/utils/voiceInstructions.js
  services/api/db/migrations/004_photo_prompts.sql
  services/api/routes/photos.js
  services/api/services/photoAnalysisService.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

fix: photo analyze caption column gets null not AI description, remove unused import
  services/api/routes/photos.js
Due: eslint --fix, prettier --write

fix: add photoContext to useVoiceSession dependency arrays
  apps/web/src/hooks/useVoiceSession.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

fix: drastically shorten Clio's system prompt for faster responses
  apps/web/src/data/voiceConfig.js
  apps/web/src/utils/voiceInstructions.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js

fix: compress onboarding voice prompt, raise VAD thresholds
  apps/web/src/components/onboarding/OnboardingVoiceInterview.jsx
  apps/web/src/context/SettingsContext.jsx
Due: prettier --write, eslint --fix --config apps/web/eslint.config.js

feat: adaptive pacing — Clio detects 'you're cutting me off' and slows down
  apps/web/src/hooks/useVoiceSession.js
Due: eslint --fix, prettier --write, eslint --fix --config apps/web/eslint.config.js
